h1 {
    color:black;
}

#maincontainer {
    display:flex;
    flex-direction: row;
    flex: 1;
}

#cities {
    flex-direction: column;
    flex:1;
    justify-content: center;
    margin-right: 5px;
}

#searchtitle {
    font-size: 22px;
    font-weight: bold;
}

#cityname {
    display: flex;
    flex:1;
    size:5;
    width: 100%;
    padding: 0px 0px ;
    margin: 0px 0px;
}

#searchBtn{
    text-align: center;
    vertical-align: middle;
    text-justify: center;
    align-self: center;
    background-color:dodgerblue;
    color: white;
}

.solid {
    width:90%;
}

#cityBtnlist {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: blueviolet;
    flex: 1;
}

button {
    display:flex;
    border: none;
    border-radius: 4px;
    flex-direction: column;
    width : 98%;
    height: 30px;
    font-size: 14px;
    padding: 7px 10px ;
    margin: 8px 3px;
    color:black;
    background-color: rgb(153, 150, 150);
}

#cityBtnList button:hover {
    background-color: burlywood;
}

#weather {
    flex-direction: column;
    flex: 4;
}

#data {
    width: 100%; 
    flex-wrap: wrap;
    border: 2px black solid;
}

#data div {
   margin-bottom: 10px;
   font-size: 18px;
   font-weight: bold;
   padding-left: 3px;
}

#uvindexTxt {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
    font-weight: normal;
}
 
#forecast {
    width: 100%;
}

#forecastdays{
    display:flex;
    flex-direction: row;
    width:100%;
    flex:1;
}

.fc {
    display:flex;
    flex: 1;
    flex-direction: column;
    margin: 5px;
    padding-left: 5px;
    color:white;
    font-size: 18px;
    background-color: rgb(2, 2, 189);
}

.dateFcTxt{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-right: 15px;
}

.fcTxt {
    margin-bottom: 10px;
}

.humFc{
    width:50%;
}

@media only screen and (max-width: 720px) {
    #maincontainer{
        flex-direction: column;
    }

    #forecastdays {
        flex-direction: column;
    }
}